<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pocketbank.lazylad91.pocketbank"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTransactionActivity"
            android:label="Add a Transaction">
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".Intro"
                  android:label="Intro"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            </activity>
    </application>

</manifest>